<footer class="footer">
  <div class="background">
    <div class="container">
      <div class="nav-links">
        <a href="/">
          <img src="./assets/images/benefactorum/small-logo-white.svg" alt="Benefactorum"></img>
        </a>
        <div class="menu">
          <nav class="nav">
            <a href="/la-plateforme.html">La plateforme</a>
            <a href="/la-mission.html">La mission</a>
            <a href="#foire-aux-questions">Foire aux questions</a>
            <a href="mailto:contact@benefactorum.org">Contact</a>
          </nav>
        </div>
        <div class="socials">
          <a href="#linkedin">
            <img class='reseau' src="./assets/images/socials/linkedin.svg" alt="Linkedin"></img>
          </a>
          <a href="#facebook">
            <img class='reseau' src="./assets/images/socials/facebook.svg" alt="Facebook"></img>
          </a>
          <a href="#github">
            <img class='reseau' src="./assets/images/socials/github.svg" alt="Github"></img>
          </a>
        </div>
      </div>
      <div class="legal-links">
        2023
        -
        <a href="#mentions-legales">Mentions légales</a>
        -
        <a href="#donnees-personnelles">Données personnelles</a>

      </div>
    </div>
  </div>

</footer>
