<footer>
  <div class="container">
    <div class="nav-links">
      <a href="/">
        <img src="./assets/images/benefactorum/small-logo-white.svg" alt="Benefactorum"></img>
      </a>
      <div class="menu">
        {% for link in site.data.navigation %}
        <a href="{{ link.url }}" title="{{ link.name }}">{{ link.name }}</a>
        {% endfor %}
        <a href="mailto:contact@benefactorum.org">Contact</a>
      </div>
      <div class="socials">
        <a href="#linkedin">
          <img class='reseau' src="./assets/images/socials/linkedin.svg" alt="Linkedin"></img>
        </a>
        <a href="#facebook">
          <img class='reseau' src="./assets/images/socials/facebook.svg" alt="Facebook"></img>
        </a>
        <a href="https://github.com/Benefactorum" target="_blank" rel="noopener noreferrer">
          <img class='reseau' src="./assets/images/socials/github.svg" alt="Github"></img>
        </a>
      </div>
    </div>
    <div class="legal-links">
      2023
      -
      <a href="#mentions-legales" rel="nofollow">Mentions légales</a>
      -
      <a href="/politique-de-confidentialite" rel="nofollow">Données personnelles</a>

    </div>
  </div>
</footer>
