<header>
  <div class="topnav">
    <a href='/'>
      <picture>
        <source media="(min-width: 378px)" srcset="./assets/images/benefactorum/full-logo.svg">
        <img src="./assets/images/benefactorum/small-logo.svg" alt="Benefactorum"/>
      </picture>

    </a>
    <nav>
      <a href="/la-plateforme">La plateforme</a>
      <a href="/la-mission">La mission</a>
      <a href="#foire-aux-questions">FAQ</a>
      <a href="#blog">Blog</a>
    </nav>
    <a href="javascript:void(0);" class="hamburger-lines" onclick="toggleMenu()">
      <span class="line line1" id="line1"></span>
      <span class="line line2" id="line2"></span>
      <span class="line line3" id="line3"></span>
    </a>
    <a href="/inscription.html"class="sign-up button">S'inscrire</a>
  </div>
  <div class='sandwitch-menu' id="myLinks">
    <a href="/la-plateforme">La plateforme</a>
    <a href="/la-mission">La mission</a>
    <a href="#foire-aux-questions">FAQ</a>
    <a href="#blog">Blog</a>
  </div>
</header>


