@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-display: swap
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-display: swap
}

$primary-color: #008080;
$secondary-color: #FFCB60;
$font-color: #003333;
$website-background: #F1F3F3;

// Reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.full-height {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

// shared styles
body {
  font-family: "Montserrat";
  background-color: $website-background;
  color: $font-color;

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: $font-color;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    min-width: 304px;
    line-height: 64px;
  }

  h2 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    line-height: 48px;
  }

  h3 {
    font-weight: normal;
    text-align: center;
  }

  h4,
  p {
    font-size: 16px;
    line-height: 24px;
  }

  section {
    display: flex;
    padding: 64px 8px;
    gap: 64px;
  }

  .xl {
    font-size: 24px;
    line-height: 36px;
  }

  .xxl {
    font-size: 32px;
    line-height: 48px;
  }

  .xxxl {
    font-size: 48px;
  }

  .button {
    display: flex;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: $primary-color;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .margin-top {
    margin-top: 64px;
  }

  .semi-bold {
    font-family: "MontserratSemiBold";
  }

  .cards-container {
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;

    .small-cards-container {
      display: flex;
      justify-content: center;
      gap: 64px;
      flex-wrap: wrap;

      .card {
        display: flex;
        width: 240px;
        height: 292px;
        padding: 32px;
        flex-direction: column;
        gap: 32px;
        border-radius: 32px;
        background-color: $website-background;

        box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

        .recto {
          margin: auto;
          text-align: center;
        }

        .verso {
          display: none; // flex on hover/active states
          flex-direction: column;
          justify-content: center;
          flex: 1 0 0;
          text-align: center;
          gap: 32px;
        }
      }

      .card::after {
        content: "";
        border-radius: 32px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      }

      .card:hover,
      .card:active,
      .hovered {
        transform: scale(1.10, 1.10);

        .verso {
          display: flex;
        }

        .recto {
          display: none;
        }
      }

      .card:hover::after,
      .card:active::after,
      .hovered::after {
        opacity: 1;
      }
    }
  }

  .step {
    width: 100%;
    display: flex;
    padding: 0px 32px;
    align-items: center;
    gap: 16px;
    border-radius: 100px;
    background-color: $secondary-color;

    .number-step {
      width: 37px;
      text-align: center;
      font-size: 64px;
    }
  }

  .step-2 {
    background-color: $primary-color;
    color: $website-background;

    .number-step {
      color: $website-background;
    }
  }
}

.quote {
  flex-direction: column;
  align-items: center;
}

.confidentialite {
  flex-direction: column;
  padding: 0 64px;
  // max-width: 1536px;
  justify-content: center;
}

.non-profit {
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .button {
    color: $font-color;
    background-color: $secondary-color;
  }

  img {
    width: 100%;
    max-width: 599px;
    min-width: 312px;
  }
}

.how-it-really-works {
  justify-content: center;
  background-color: white;

  .container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;

    .step {
      h3 {
        padding: 24px 0px;
      }
    }

    .step-2,
    .step-3 {
      margin-top: 64px;
    }

    ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;

      &.bigger-gap {
        gap: 64px;
      }

      li {
        display: flex;
        align-items: center;
        gap: 16px;

        .yellow {
          filter: invert(87%) sepia(65%) saturate(6734%) hue-rotate(311deg) brightness(103%) contrast(103%);
        }

        .green {
          filter: invert(34%) sepia(23%) saturate(5116%) hue-rotate(155deg) brightness(87%) contrast(101%);
        }

        .check {
          @media only screen and (max-width: 480px) {
            display: none;
          }
        }
      }

      .value-offer-detail {
        display: flex;
        justify-content: center;
        gap: 64px;
        align-items: center;

        @media only screen and (max-width: 892px) {
          flex-wrap: wrap;
        }

        .card {
          display: flex;
          margin: auto;
          padding: 32px;
          flex-direction: column;
          gap: 32px;
          border-radius: 32px;
          background-color: $website-background;
          text-align: center;

          p {
            white-space: nowrap;
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 32px;

          li {
            list-style-type: disc;
            display: list-item;
          }
        }
      }
    }

    .taxes {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 64px;
      flex-wrap: wrap;

      p {
        max-width: 657px;
      }

      .did-you-know {
        display: flex;
        align-items: center;
        gap: 32px;
        padding: 16px;
        border-radius: 32px;
        background-color: $website-background;
        justify-content: center;

        @media only screen and (max-width: 612px) {
          display: block;
          text-align: center;
        }
      }
    }
  }

  @media only screen and (max-width: 1279px) {
    padding: 64px 0px;

    .step {
      width: 100%;
      border-radius: 0;
    }

    ul {
      padding: 0 8px;

      li ul {
        padding: 0;
      }
    }

    .taxes p {
      padding: 0 8px;
    }
  }
}

.how-it-works {
  flex-direction: column;
  align-items: center;

  .main-content {
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;

    @media only screen and (min-width: 774px) {
      .steps {
        align-items: flex-start;

        .step-2 p {
          width: 479px;
        }

        .step-3 p {
          width: 529px;
        }
      }
    }

    .steps {
      display: flex;
      flex-direction: column;
      gap: 32px;
      min-width: 312px;

      .step {
        width: auto;

        p {
          padding: 16px 0px;
        }
      }
    }

    .info {
      display: flex;
      padding: 32px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      border-radius: 32px;
      background: white;

      p {
        text-align: center;
      }
    }
  }

  @media only screen and (max-width: 546px) {
    padding: 64px 0;

    .steps {
      width: 100%;
    }

    .step {
      border-radius: 0;
      padding: 0 8px;
    }
  }
}

.value-offer {
  background-color: white;
  flex-direction: column;
  align-items: center;

  .charities {
    display: none; // JS makes it flex
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 64px;
    margin-top: 64px;

    a {
      position: absolute;
    }
  }
}

.sib-form {
  padding: 64px 0px;

  .input_replaced:checked+.checkbox_tick_positive {
    background: $primary-color;
    border-color: $primary-color;
  }

  .sib-container--large {
    border-radius: 32px;

    a {
      color: $font-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @media only screen and (max-width: 540px) {
      border-radius: 0;
    }
  }
}

.merci {
  flex: 1 1 auto;

  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .socials {
      display: flex;
      gap: 32px;

      img {
        filter: brightness(0) saturate(100%) invert(35%) sepia(15%) saturate(4488%) hue-rotate(143deg) brightness(99%) contrast(100%); // primary color
      }

    }

  }
}

.mission {
  .hero {
    @media only screen and (min-width: 790px) {
      height: 393px;
    }
  }

  .values {
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 64px;

      @media only screen and (max-width: 627px) {
        flex-wrap: wrap;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
          list-style-type: disc;
          display: list-item;

          a {
            text-decoration: underline;
          }
        }
      }
    }

    &.without-bg {
      background-color: $website-background;
    }
  }


  .freins {
    display: flex;
    flex-direction: column;

    .cards-container .card {
      background-color: white;
    }

  }
}

.faq {
  background-color: white;
  flex-wrap: wrap;
  flex: 1 1 auto;

  .container {
    margin: 0 auto;
    width: 600px;
  }

  .accordion {
    .accordion-item {
      border-bottom: 1px solid $secondary-color;


      button[aria-expanded='true'] {
        border-bottom: 1px solid $primary_color;
      }
    }

    button {
      position: relative;
      display: block;
      text-align: left;
      width: 100%;
      padding: 16px 0;
      color: $font-color;
      font-size: 20px;
      font-weight: 200;
      border: none;
      background: none;
      outline: none;

      &:hover,
      &:focus {
        cursor: pointer;
        color: $primary_color;

        &::after {
          cursor: pointer;
          color: $primary_color;
          border: 1px solid $primary_color;
        }
      }

      .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;

        &::before {
          display: block;
          position: absolute;
          content: '';
          top: 9px;
          left: 5px;
          width: 10px;
          height: 2px;
          background: currentColor;
        }

        &::after {
          display: block;
          position: absolute;
          content: '';
          top: 5px;
          left: 9px;
          width: 2px;
          height: 10px;
          background: currentColor;
        }
      }
    }

    button[aria-expanded='true'] {
      color: $primary_color;

      .icon {
        &::after {
          width: 0;
        }
      }

      +.accordion-content {
        opacity: 1;
        max-height: 9em;
        transition: all 200ms linear;
        will-change: opacity, max-height;

        &.plus {
          max-height: 17em;
        }

        &.plusplus {
          max-height: 28em;
        }

        @media only screen and (max-width: 616px) {
          max-height: 11em;

          &.plus {
            max-height: 27em;
          }

          &.plusplus {
            max-height: 50em;
          }
        }
      }
    }

    .accordion-content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 200ms linear, max-height 200ms linear;
      will-change: opacity, max-height;

      p {
        margin: 32px 0;
      }
    }
  }
}

.hero {
  justify-content: center;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex-wrap: wrap;

    .text-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 64px;
      flex: 1 0 0;
    }
  }
}

header {
  background-color: white;

  .topnav {
    margin: auto;
    max-width: 1536px;
    width: 100%;
    padding: 8px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
      display: none;
      width: 100%;

      @media only screen and (min-width: 743px) {
        display: flex;
        justify-content: center;
        gap: 32px;
      }
    }

    .sign-up {
      display: none;

      @media only screen and (min-width: 886px) {
        display: flex;
      }
    }
  }

  .hamburger-lines {
    cursor: pointer;
    height: 26px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (min-width: 743px) {
      display: none;
    }

    .line {
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background-color: $font-color;
    }

    .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }

    .line2 {
      transition: transform 0.2s ease-in-out;
    }

    .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  }

  .sandwitch-menu {
    display: none;
    padding: 32px 0px;
    background-color: $font-color;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    a {
      color: $website-background;
    }
  }
}

footer {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  background-color: $font-color;
  color: $website-background;

  a {
    color: $website-background;
  }

  .container {
    width: 100%;
    max-width: 1536px;
    display: flex;
    flex-direction: column;
    padding: 0px 8px;
    gap: 16px;

    .nav-links {
      padding: 8px 0px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 32px;

      @media only screen and (min-width: 987px) {
        flex-direction: row;
      }

      .menu {
        padding: 0px 64px;
        display: flex;
        justify-content: center;
        flex: 1 0 0;
        gap: 32px;
        align-items: center;
        flex-direction: column;

        @media only screen and (min-width: 605px) {
          flex-direction: row;
        }
      }

      .socials {
        display: flex;
        gap: 64px;

        @media only screen and (min-width: 987px) {
          gap: 8px;
        }

        .reseau {
          width: 30px;

          @media only screen and (min-width: 987px) {
            width: 20px
          }
        }
      }
    }

    .legal-links {
      justify-content: center;
      display: flex;
      font-size: 10px;
    }
  }
}
