@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

$primary-color: #008080;
$secondary-color: #FFCB60;
$font-color: #003333;
$website-background: #F1F3F3;

// Reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// shared styles
body {
  font-family: "Montserrat";
  background-color: $website-background;
  color: $font-color;

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: $font-color;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 32px;
    font-weight: normal;
    // line-height: 48px;
  }

  h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
  }

  section {
    display: flex;
    padding: 64px;
    gap: 64px;
  }

  .xl {
    font-size: 24px;
  }

  .xxl {
    font-size: 32px;
  }

  .xxxl {
    font-size: 48px;
  }

  .button {
    display: flex;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: $primary-color;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .semi-bold {
    font-weight: 600;
  }

  .cards-container {
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;

    .small-cards-container {
      display: flex;
      justify-content: center;
      gap: 64px;
      flex-wrap: wrap;

      .card {
        display: flex;
        width: 240px;
        height: 292px;
        padding: 32px;
        flex-direction: column;
        gap: 32px;
        border-radius: 32px;
        background-color: $website-background;

        // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

        .verso {
          display: none;
          flex-direction: column;
          justify-content: center;
          flex: 1 0 0;
          text-align: center;
          gap: 32px;

        }
      }

      .card::after {
        content: "";
        border-radius: 32px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      }

      .card:hover,
      .card:active,
      .hovered {
        transform: scale(1.10, 1.10);

        .verso {
          display: flex;
        }

        .recto {
          display: none;
        }
      }

      .card:hover::after,
      .card:active::after,
      .hovered::after {
        opacity: 1;
      }
    }
  }
}

.how-it-works {
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
  }

  .main-content {
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;

    @media only screen and (min-width: 774px) {
      .steps {
        align-items: flex-start;

        .step-2 p {
          width: 479px;
        }

        .step-3 p {
          width: 529px;
        }
      }

    }

    .steps {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .step {
        display: flex;
        padding: 0px 32px;
        align-items: center;
        gap: 16px;
        border-radius: 100px;
        background-color: $secondary-color;
        text-wrap: wrap;

        .number-step {
          width: 37px;
          text-align: center;
          font-size: 64px;
        }

        p {
          padding: 16px 0px;
        }
      }

      .step-2 {
        background-color: $primary-color;
        color: $website-background;

        .number-step {
          color: $website-background;
        }
      }
    }

    .info {
      display: flex;
      padding: 32px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      border-radius: 32px;
      background: white;

      p {
        text-align: center;
      }
    }
  }

  a {
    margin-top: 64px;
  }

}

.value-offer {
  // max-width: 1536px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;

  .charities {
    display: none; // JS makes it flex
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 64px;
    margin-top: 64px;

    a {
      position: absolute;
    }
  }
}

.hero {
  justify-content: center;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex-wrap: wrap;

    .text-section {
      min-width: 320px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 64px;
      flex: 1 0 0;
    }
  }
}

header {
  background-color: white;

  .topnav {
    margin: auto;
    max-width: 1536px;
    width: 100%;
    padding: 8px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
      display: none;
      width: 100%;

      @media only screen and (min-width: 743px) {
        display: flex;
        justify-content: center;
        gap: 32px;
      }
    }

    .sign-up {
      display: none;

      @media only screen and (min-width: 886px) {
        display: flex;
      }
    }
  }

  .hamburger-lines {
    cursor: pointer;
    height: 26px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (min-width: 743px) {
      display: none;
    }

    .line {
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background-color: $font-color;
    }

    .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }

    .line2 {
      transition: transform 0.2s ease-in-out;
    }

    .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  }

  .sandwitch-menu {
    display: none;
    padding: 32px 0px;
    background-color: $font-color;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    a {
      color: $website-background;
    }
  }
}

footer {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  background-color: $font-color;
  color: $website-background;

  a {
    color: $website-background;
  }

  .container {
    width: 100%;
    max-width: 1536px;
    display: flex;
    flex-direction: column;
    padding: 0px 8px;
    gap: 16px;

    .nav-links {
      padding: 8px 0px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 32px;

      @media only screen and (min-width: 1039px) {
        flex-direction: row;
      }

      .menu {
        padding: 0px 64px;
        display: flex;
        justify-content: center;
        flex: 1 0 0;
        gap: 32px;
        align-items: center;
        flex-direction: column;

        @media only screen and (min-width: 657px) {
          flex-direction: row;
        }
      }

      .socials {
        display: flex;
        gap: 64px;

        @media only screen and (min-width: 1039px) {
          gap: 8px;
        }

        .reseau {
          width: 30px;

          @media only screen and (min-width: 1039px) {
            width: 20px
          }
        }
      }
    }

    .legal-links {
      justify-content: center;
      display: flex;
      font-size: 10px;
    }
  }
}
